.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    padding: 15px;
    width: 100%;
    display: none;

    ul {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-around;

        li {
            height: 100%;
            a {
                height: 44px;
                display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            }
            svg {
                max-width: 24px;
                flex: 1 1 auto;
                fill: rgba(0, 0, 0, 0.45);
            }

            span {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.45);
            }

            &.active {
                span {
                    color: var(--text-color);
                }

                svg {
                    fill: var(--text-color);
                }
            }
        }
    }

        @media (max-width: 905px){
         display: block; 
    }
}